.q-table__top,
.q-table__bottom,
thead tr:first-child th {
    background-color: #ffffff;
    z-index: 1000;
}
thead tr:first-child th {
    position: sticky;
    top: 0;
}

.q-table__top {
    padding-bottom: 30px !important;
}

.q-table__card {
    border-radius: 0 !important;
    box-shadow:  0px 5px 5px -4px rgba(0, 0, 0, 0.2)!important;
}

